:root {
  --red: rgb(242 66 66);
  --grey: rgb(237 237 237);
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

nav {
  position: sticky;
  top: 0px;
  padding: 0.5rem;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

#mobile-menu {
  background-color: transparent;
  border-color: transparent;
}

#logo {
  margin-right: 8rem;
}

#links {
  display: none;
}

#description {
  width: 50%;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.buttons {
  width: 30rem;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.red-button {
  background-color: var(--red);
  border: solid var(--red);
  margin-bottom: 1rem;
}

#get-started {
  background-color: var(--red);
  border: solid var(--red);
  margin-bottom: 1rem;
}

#buttons-list {
  display: flex;
  flex-direction: column;
}

#learn-more {
  background-color: transparent;
  border: 2px solid white;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/mobileBG.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content {
  padding: 1rem;
  background-color: var(--grey);
  display: grid;
  justify-items: center;
}

.main-content > div,
.main-content > div > .service {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.text {
  text-align: center;
  font-family: 'Amiko', sans-serif;
}

.title-1 {
  color: var(--red);
}

.title-2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.title-3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#discover {
  background-color: transparent;
  border-color: transparent;
  color: var(--red);
  font-weight: bold;
  font-size: 1rem;
}

#contact-us {
  padding-top: 2rem;
  display: grid;
  justify-items: center;
}

form {
  width: 29rem;
  display: grid;
  justify-items: stretch;
  gap: 1rem;
}

#contact-us .text {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.form-input {
  padding: 0.7rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.form-input:not(textarea) {
  height: 1rem;
}

label > a {
  color: var(--red);
  text-decoration: none;
}

#submit {
  width: 10rem;
  justify-self: center;
}

footer {
  font-size: 0.9rem;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (min-width: 640px) {
  #mobile-menu {
    display: none;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  #links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  #learn {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 10rem;
  }

  header {
    padding: 2rem;
    align-items: flex-start;
    background-image: url(./assets/homeBG.png);
  }

  #description {
    font-size: 4.7rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: left;
  }

  #buttons-list {
    display: inline;
  }

  #get-started,
  #learn-more {
    width: 10rem;
    margin-right: 2rem;
  }
}
